html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, .nav, output, ruby, section, summary, time, mark, audio, video { margin: 0;	padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, .nav, section { display: block; } ol, ul { list-style: none; } .cf:before, .cf:after { content: " "; display: table; } .cf:after {clear: both;} .cf { *zoom: 1; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } img { max-width: 100%; height: auto; vertical-align: middle; }

/*
yellow: fdc210
red: ff4610
*/

body {
	background: #efefef;
	color: #353430;
	font: 400 1em/1.5em 'elena-web-basic', Georgia, serif;
}

/**========================================================
    LAYOUT
========================================================**/

.bg {
	position: fixed;
	top: -12px;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 110%;
	background: #00bfef url(../images/bg-blue.jpg) no-repeat center 114px;
}

.header, section, footer {
	position: relative;
	z-index: 99;
}

.wrapper {
    position: relative;
	width: 92%;
	max-width: 1400px;
	margin: 0 auto;
}

.header {
	background: #fff;
	padding: 12px 0;
}

.hero {
	padding: 96px 0 104px;
	color: #fff;
	background: transparent;
}

.main {
	padding-top: 2.625em;
	background: #00bfef;
	box-shadow: inset 0 0.5em 1em rgba(0,0,0,0.1);
	color: #fff;
}

.grid {
	padding: 48px 0 32px;
	background: #fff;
}

footer {
	background: #efefef;
	box-shadow: inset 0 0 15px rgba(0,0,0,0.15);
	color: #252525;
	text-align: center;
}

footer .wrapper {
	padding: 32px 0;
}

.left {	float: left; }
.right { float: right; }



/**========================================================
    TYPE
========================================================**/

h1,h2,h3,h4,h5 {
	font-weight: 700;
	line-height: 1;
}

h1 {
    margin-bottom: 16px;
	font: 900 68px/1em 'maple-web', 'Helvetica', arial, sans-serif;
}

h2 {
	font-size: 30px;
}

h3 {
	font: 900 30px/1em 'maple-web', 'Helvetica', arial, sans-serif;
}

h4 {
	margin-bottom: 4px;
	font-size: 22px;
}

p {
	margin-bottom: 32px;
	font-size: 20px;
	line-height: 1.6em
}

a {
	color: #353430;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

a:hover {
	color: #353430;
	border-bottom: 1px solid #fecb0d;
}

.btn {
	display: inline-block;
	padding: 12px 22px;
	border-bottom: none;
	border-radius: 5px;
	color: #fff;
	font-family: 'maple-web', 'Helvetica', arial, sans-serif;
	font-size: 30px;
	line-height: 1em;
	font-weight: 500;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	background: #f75728;
}

.btn:hover {
	background: #e94819;
	color: #fff;
	border-bottom: none;
}

.ctr {
	text-align: center;
}


/**========================================================
    HEADER
========================================================**/

.logo {
	position: relative;
	float: left;
	border: none;
}

.logo:hover {
    border: none;
}

.logo img {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
}

.logo h1 {
    margin-bottom: 0;
	padding-left: 100px;
	font-size: 40px;
	line-height: 80px;
}

.nav {
	position: relative;
	float: right;
}

.nav a {
	margin-left: 62px;
	font-size: 20px;
	line-height: 80px;
}

.nav a:first-of-type {
	margin-left: 0;
}

.nav div {
	position: absolute;
	top: 26px;
	right: 96px;
	width: 1px;
	height: 30px;
	background: #333;
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}


/**========================================================
    CONTACT FORM
========================================================**/

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
}

.show {
	display: block;
}

.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

.modal .wrapper {
	position: relative;
	z-index: 99;
	max-width: 570px;
	margin-top: 5%;
	padding: 32px 2.5%;
	background: #fff;
	border-radius: 3px;
}

.modal .close {
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	border: none;
}

.modal .close:hover {
	border: none;
	color: #f75728;
}

.modal h3 {
	margin-bottom: 0.25em;
}

.modal p {
    margin-bottom: 16px;
    font-size: 18px;
}

.modal a {
	border-bottom: 1px solid #0088bb;
}

.modal a:hover {
	border-color: #fecb0d;
}

.form-item {
	margin-bottom: 0.75em;
}

label {
	display: block;
	font-weight: 700;
	line-height: 1.6em;
}

input[type="text"],input[type="email"],textarea {
	width: 100%;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-radius: 5px;
	font: 400 1em/1.5em  "elena-web-basic", Georgia, serif;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}

input[type="text"]:focus,input[type="email"]:focus,textarea:focus {
	border-color: #353430;
}

button {
	cursor: pointer;
	width: 100%;
	padding: 0.4em 1em;
	background: #f75728;
	border: none;
	border-radius: 5px;
	color: #fff;
	font: 500 20px/1.5em 'maple-web', 'Helvetica', arial, sans-serif;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}

button:hover {
	background: #e94819;
}

input.error {
    border-color: #f75728;
}


/**========================================================
    HERO
========================================================**/

.hero {
	text-align: center;
}

.hero h1 {
	margin-bottom: 0.25em;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.hero h2 {
	font-weight: 400;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.hero p {
	margin-bottom: 0;
	font-size: 1em;
}

.hero .btn {
	background: #fdc210;
}


/**========================================================
    HOME
========================================================**/

.thumbs li {
	float: left;
	width: 30%;
	margin: 1.5em 5% 1.5em 0;
	text-align: center;
}

.thumbs li:nth-child(3n) {
	margin-right: 0;
}

.thumbs li:nth-child(3n+1) {
	clear: left;
}

.thumbs a {
	display: block;
	border: none;
}

.thumbs a:hover {
	border: none;
	color: #f75728;
}

.thumbs .thumb {
	margin-bottom: 1em;
}

.thumbs p {
    display: none;
	color: #71716e;
	font-size: 17px;
	line-height: 1.2em
}

/**========================================================
    PROJECTS
========================================================**/

.main .title {
    position: relative;
	margin-bottom: 1em;
	margin-bottom: 16px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.bchr .main .title {
    max-width: 800px;
    margin: 0 auto 16px;
}


.main .content {
    max-width: 780px;
    margin: 0 auto 3em;
    padding: 0 2.5%;
}

.main .pic {
    position: relative;
    max-width: 990px;
	margin: 0 auto 3em;
}

.main .pic:after {
    content: "";
    position: absolute;
    top: 98%;
    left: 0;
    right: 0;
    bottom: 4px;
    z-index: -1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}

.role {
    text-align: center;
    color: #ccf2fc;
}

.project-nav {
    max-width: 420px;
    margin: 0 auto 60px;
    text-align: center;
}

.visit {
    display: inline-block;
    padding-bottom: 5px;
	border-bottom: 1px solid #0088bb;
	color: #fff;
    font-size: 30px;
}

.visit:hover {
    color: #fff;
	border-color: #345069;
}

.project-nav .arrow {
    display: block;
    opacity: 0.6;
    position: fixed;
    top: 50%;
    left: 20px;
    width: 33px;
    height: 50px;
    margin-top: -25px;
    background: url(../images/arrows.svg) no-repeat;
    border: none;
}

.project-nav .arrow:hover {
    opacity: 1;
}

.project-nav .next {
    left: auto;
    right: 20px;
    background-position: -60px 0;
}


/**========================================================
    BOTTOM
========================================================**/

.bottom {
	padding: 32px 0;
	background: #fff;
	text-align: center;
}

.bottom p {
	margin-bottom: 0;
	font-size: 36px;
}

.bottom .btn {
	margin-left: 32px;
	font-size: 36px;
}


/**========================================================
    ABOUT
========================================================**/

.about {
	padding: 2.625em 0;
	background: transparent;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
	text-align: left;
}

.about .wrapper {
	max-width: 570px;
	margin: 2.625em auto;
	padding: 0.5em 32px 28px;
	background: rgba(0,0,0,0.6);
	border-radius: 3px;
}

.about h3 {
	margin: 0.5em 0;
	font-size: 36px;
}

.about p {
	margin-bottom: 0;
	text-indent: 40px;
}

.about p:first-of-type {
    text-indent: 0;
}


/**========================================================
    FOOTER
========================================================**/

footer p {
    color: #898989;
	margin-bottom: 0.875em;
}

footer a {
    color: #898989;
	border: none;
}

footer a:hover {
	border: none;
}

footer li {
	display: inline-block;
	margin: 0 0.25em;
	font-size: 2em;
	line-height: 1em;
	text-shadow: none;
}


/**========================================================
    MQs
========================================================**/

@media all and (max-width: 1150px) {
    .project-nav { position: relative; }
    .project-nav .arrow { position: absolute; top: -10px; display: inline-block; margin-top: 0; }
    .project-nav .prev { margin-right: 60px; margin-bottom: -16px; }
    .project-nav .next { margin-left: 60px; }
}

@media all and (max-width: 1010px) {
    .bottom p { font-size: 32px; }
    .bottom .btn { font-size: 32px; }
}

@media all and (max-width: 910px) {
    .bottom { padding-top: 26px; }
    .bottom .btn { margin: 0.25em 1em 0; }
}

@media all and (max-width: 800px) {
	.logo h1 { font-size: 32px; }
	.hero h2 { padding: 0 10%; line-height: 1.2em; }
	.main .title { font-size: 48px; }
	.thumbs li { width: 47.5%; margin: 0 5% 0.75em 0; }
	.thumbs li:nth-child(3n) { margin-right: 5%; }
	.thumbs li:nth-child(2n) { margin-right: 0; }
	.thumbs li:nth-child(3n+1) { clear: none; }
	.thumbs li:nth-child(2n+1) { clear: left; }
}

@media all and (max-width: 710px) {
	.logo { width: auto; }
	.logo img { position: static; top: auto; left: auto; width: 64px; }
	.logo h1 { display: none; }
	.nav a { font-size: 18px; line-height: 64px; }
	.nav div { top: 18px; right: 90px; }
	.hero { padding: 2.625em 0; }
    .bottom p { font-size: 30px; line-height: 1.2em; }
    .bottom .btn { margin-top: 0.5em; }
}

@media all and (max-width: 620px) {
    .bg { background-size: auto 80% ; }
    .modal .wrapper { margin-top: 1em; padding: 1.25em 1em; }
	.hero h1 { font-size: 48px; }
	.hero h2 { font-size: 27px; }
    .bottom .btn { display: block; margin: 0.5em 0 0; }
    .role { line-height: 1.4em; }
}

@media all and (max-width: 500px) {
    .wrapper { width: 90%; }
    p { font-size: 18px; }
    .hero { padding: 32px 0; }
	.logo { width: 5em; }
	.main { padding-top: 32px; }
	.main .content, .main .pic { margin-bottom: 18px; }
	.main .content { padding: 0; }
	.thumbs li { width: 100%; margin: 0 0 1.25em 0; }
	.thumbs li:nth-child(3n) { margin-right: 0; }
	.thumbs li:nth-child(2n+1) { clear: none; }
	.thumbs li:last-child { margin-bottom: 0; }
    .thumbs .thumb { max-width: 360px; margin: 0 auto 1em; padding: 0 5%; }
	.hero h1 { font-size: 40px; }
	.hero h2 { font-size: 22px; padding: 0 5%; }
	.about .wrapper { margin: 0 auto; padding: 0 24px 20px; }
	.about h3 { font-size: 32px; margin-bottom: 0.25em; }
    .project-nav { margin-bottom: 42px; }
    .project-nav .arrow { left: 0; }
    .project-nav .next { left: auto; right: 0; }
}

@media all and (max-height: 658px) {
    .modal { position: absolute; }
}
